{% extends 'base.html' %}
{% load static cache %}

<!-- ================================
    START SEO BLOCKS
================================= -->
{% block page_title %}
{% endblock %}

<!-- ================================
    START CONTENT SECTION
================================= -->
{% block content %}
    <section>
        <div class="innerPageBannerCol">
            <div class="container">
                <div class="row g-4 g-md-3">
                    <div class="col-12">
                        <div class="bannerContent text-center">
                            <h1 class="xlTitle pb-md-3">500</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container text-center">
            <p>Internal Server Error. Oops, something went wrong on our end. Our 500 Error page is designed to let you know that we're aware of the issue and working to resolve it as quickly as
                possible.
                If you're experiencing this error, please try again later or contact our support team for assistance.</p>
        </div>
    </section>

{% endblock %}
<!-- ================================
    END CONTENT SECTION
================================= -->






