{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>{% block title %}Just Some Games{% endblock title %}</title>

    <!-- Jquery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}" type="text/javascript"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/stripe.js' %}" type="text/javascript"></script>

    <!-- bootstrap-->
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

    <!-- custom javascript -->
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>

    {% block more_head %}
        
    {% endblock more_head %}

</head>
<body style="font-size: {{ company.fontSize }}em; background-color: #ffffff; width:100%; margin:0; padding:0;">
<header id="header" style="margin:20px; background-color:#ffffff; width:100%; text-align:center;">
    <img src="{{ company.logo.url }}" alt="{{ company.name }}" style="max-height:250px; margin:0 auto;">
    <div class="title" style="text-align:center; width:100%; margin-top:30px;"><h2>{{ company.name }}</h2></div>
    {% if company.description != 'To do' %}
        <div class="title" style="text-align:center; width:100%;">{{ company.description }}</div>
    {% endif %}
</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin:20px 0;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'search:search' %}">Search</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Staff
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'core:communications' %}">Communications</a></li>
                                <li><a class="dropdown-item" href="{% url 'core:set_faq' %}">Set FAQ</a></li>
                                <li><a class="dropdown-item" href="{% url 'core:set_policies' %}">Set Policies</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'core:contact_us' %}">Contact Us</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:dashboard' %}">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'core:donate' %}">Donate</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="main" style="background-color: #ffffff; width:100%; margin:20px 0; padding:0;">
    {% include 'includes/alerts.html' %}
    {% block content %}

    {% endblock content %}

</div>
{% include 'includes/footer.html' %}

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

{% block more_scripts %}
    
{% endblock more_scripts %}

</body>
</html>
